QMainWindow{
    background-color: rgb(129, 233, 185);
}
QLabel{
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
QPushButton{
    font-size: 20px;
    background-color: blue;
}
#capcha{
    background-color: brown;
    
}
